In [1]:
import pandas as pd
from organize_data import organize_images

### BRSET

In [2]:
df = pd.read_csv('/opc/davidres/retina/mbrset/data/labels.csv')
df

,image_id,patient_id,camera,patient_age,comorbidities,diabetes_time_y,insuline,patient_sex,exam_eye,diabetes,...,amd,vascular_occlusion,hypertensive_retinopathy,drusens,hemorrhage,retinal_detachment,myopic_fundus,increased_cup_disc,other,quality
0,img00001,1,Canon CR,48.0,diabetes1,12,yes,1,1,yes,...,0,0,0,0,0,0,0,1,0,Adequate
1,img00002,1,Canon CR,48.0,diabetes1,12,yes,1,2,yes,...,0,0,0,0,0,0,0,1,0,Adequate
2,img00003,2,Canon CR,18.0,diabetes1,7,yes,2,1,yes,...,0,0,0,0,0,0,0,0,0,Adequate
3,img00004,2,Canon CR,18.0,diabetes1,7,yes,2,2,yes,...,0,0,0,0,0,0,0,0,0,Adequate
4,img00005,3,Canon CR,22.0,diabetes1,11,yes,1,1,yes,...,0,0,0,0,0,0,0,0,0,Adequate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16261,img16262,8522,Canon CR,33.0,diabetes1,14,yes,1,2,yes,...,0,0,0,0,0,0,0,1,0,Adequate
16262,img16263,8523,Canon CR,19.0,diabetes1,4,yes,1,1,yes,...,0,0,0,0,0,0,0,0,0,Adequate
16263,img16264,8523,Canon CR,19.0,diabetes1,4,yes,1,2,yes,...,0,0,0,0,0,0,0,0,0,Adequate
16264,img16265,8524,Canon CR,20.0,diabetes1,NaN,yes,1,1,yes,...,0,0,0,0,0,0,0,1,0,Adequate
16265,img16266,8524,Canon CR,20.0,diabetes1,NaN,yes,1,2,yes,...,0,0,0,0,0,0,0,0,0,Adequate

In [3]:
df['3_DR'] = df['DR_ICDR'].apply(lambda x: 'Normal' if x == 0 else ('Non-proliferative' if x in [1, 2, 3] else 'Proliferative'))
df['2_DR'] = df['DR_ICDR'].apply(lambda x: 'Normal' if x == 0 else 'Diabetic Retinopathy')
df['patient_sex'] = df['patient_sex'].apply(lambda x: 'Male' if x == 1 else 'Female')

df['image_id'] = df['image_id']+'.jpg'
df.head()

,image_id,patient_id,camera,patient_age,comorbidities,diabetes_time_y,insuline,patient_sex,exam_eye,diabetes,...,hypertensive_retinopathy,drusens,hemorrhage,retinal_detachment,myopic_fundus,increased_cup_disc,other,quality,3_DR,2_DR
0,img00001.jpg,1,Canon CR,48.0,diabetes1,12,yes,Male,1,yes,...,0,0,0,0,0,1,0,Adequate,Normal,Normal
1,img00002.jpg,1,Canon CR,48.0,diabetes1,12,yes,Male,2,yes,...,0,0,0,0,0,1,0,Adequate,Normal,Normal
2,img00003.jpg,2,Canon CR,18.0,diabetes1,7,yes,Female,1,yes,...,0,0,0,0,0,0,0,Adequate,Normal,Normal
3,img00004.jpg,2,Canon CR,18.0,diabetes1,7,yes,Female,2,yes,...,0,0,0,0,0,0,0,Adequate,Normal,Normal
4,img00005.jpg,3,Canon CR,22.0,diabetes1,11,yes,Male,1,yes,...,0,0,0,0,0,0,0,Adequate,Normal,Normal

In [4]:
image_column = 'image_id'
image_path = './BRSET/images/'
result_dir = './BRSET/'

organize_images(df, image_column=image_column, class_column='3_DR', image_path=image_path, result_dir=result_dir+'3_DR')
organize_images(df, image_column=image_column, class_column='2_DR', image_path=image_path, result_dir=result_dir+'2_DR')
organize_images(df, image_column=image_column, class_column='patient_sex', image_path=image_path, result_dir=result_dir+'patient_sex')

### mBRSET

In [33]:
df = pd.read_csv('./mBRSET/labels.csv')
df

,patient,age,sex,dm_time,insulin,insulin_time,oraltreatment_dm,systemic_hypertension,insurance,educational_level,...,acute_myocardial_infarction,nephropathy,neuropathy,diabetic_foot,file,laterality,final_artifacts,final_quality,final_icdr,final_edema
0,468,3,0,9.0,0.0,NaN,1.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,468.1.jpg,right,no,yes,0.0,no
1,468,3,0,9.0,0.0,NaN,1.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,468.2.jpg,right,yes,yes,0.0,no
2,468,3,0,9.0,0.0,NaN,1.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,468.3.jpg,left,yes,yes,0.0,no
3,468,3,0,9.0,0.0,NaN,1.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,468.4.jpg,left,yes,yes,0.0,no
4,209,8,0,5.0,1.0,5.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,209.1.jpg,right,yes,yes,0.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5171,973,108,1,10.0,0.0,NaN,1.0,1.0,0.0,2.0,...,0.0,0.0,0.0,0.0,973.4.jpg,left,yes,yes,2.0,no
5172,1324,110,0,17.0,0.0,NaN,1.0,0.0,0.0,7.0,...,0.0,0.0,0.0,0.0,1324.1.jpg,right,no,yes,0.0,no
5173,1324,110,0,17.0,0.0,NaN,1.0,0.0,0.0,7.0,...,0.0,0.0,0.0,0.0,1324.2.jpg,right,yes,yes,0.0,no
5174,1324,110,0,17.0,0.0,NaN,1.0,0.0,0.0,7.0,...,0.0,0.0,0.0,0.0,1324.3.jpg,left,yes,yes,0.0,no
5175,1324,110,0,17.0,0.0,NaN,1.0,0.0,0.0,7.0,...,0.0,0.0,0.0,0.0,1324.4.jpg,left,yes,yes,0.0,no

In [34]:
df['3_DR'] = df['final_icdr'].apply(lambda x: 'Normal' if x == 0 else ('Non-proliferative' if x in [1, 2, 3] else 'Proliferative'))
df['2_DR'] = df['final_icdr'].apply(lambda x: 'Normal' if x == 0 else 'Diabetic Retinopathy')
df['sex'] = df['sex'].apply(lambda x: 'Male' if x == 1 else 'Female')

df.head()

,patient,age,sex,dm_time,insulin,insulin_time,oraltreatment_dm,systemic_hypertension,insurance,educational_level,...,neuropathy,diabetic_foot,file,laterality,final_artifacts,final_quality,final_icdr,final_edema,3_DR,2_DR
0,468,3,Female,9.0,0.0,NaN,1.0,0.0,0.0,2.0,...,0.0,0.0,468.1.jpg,right,no,yes,0.0,no,Normal,Normal
1,468,3,Female,9.0,0.0,NaN,1.0,0.0,0.0,2.0,...,0.0,0.0,468.2.jpg,right,yes,yes,0.0,no,Normal,Normal
2,468,3,Female,9.0,0.0,NaN,1.0,0.0,0.0,2.0,...,0.0,0.0,468.3.jpg,left,yes,yes,0.0,no,Normal,Normal
3,468,3,Female,9.0,0.0,NaN,1.0,0.0,0.0,2.0,...,0.0,0.0,468.4.jpg,left,yes,yes,0.0,no,Normal,Normal
4,209,8,Female,5.0,1.0,5.0,0.0,0.0,0.0,2.0,...,0.0,0.0,209.1.jpg,right,yes,yes,0.0,no,Normal,Normal

In [36]:
image_column = 'file'
image_path = './mBRSET/images/'
result_dir = './mBRSET/'

organize_images(df.dropna(subset=['final_icdr']), image_column=image_column, class_column='3_DR', image_path=image_path, result_dir=result_dir+'3_DR')
organize_images(df.dropna(subset=['final_icdr']), image_column=image_column, class_column='2_DR', image_path=image_path, result_dir=result_dir+'2_DR')
organize_images(df, image_column=image_column, class_column='sex', image_path=image_path, result_dir=result_dir+'sex')

In [38]:
#organize_images(df.dropna(subset=['insurance']), image_column=image_column, class_column='insurance', image_path=image_path, result_dir=result_dir+'insurance')
#organize_images(df.dropna(subset=['obesity']), image_column=image_column, class_column='obesity', image_path=image_path, result_dir=result_dir+'obesity')
#organize_images(df.dropna(subset=['alcohol_consumption']), image_column=image_column, class_column='alcohol_consumption', image_path=image_path, result_dir=result_dir+'alcohol_consumption')
#organize_images(df.dropna(subset=['smoking']), image_column=image_column, class_column='smoking', image_path=image_path, result_dir=result_dir+'smoking')